.header {
    width: 100%;
    font-size: 0.5rem;
    padding: 1rem;
    -webkit-box-shadow: 0 10px 5px #e0dede;
    -moz-box-shadow: 0 10px 5px #e0dede;
    box-shadow: 0 3px 5px #e0dede
}

.header h1{
    font-size: 25px;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border-radius: 0.4rem;
}